<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="icon" href="/img/iconeSite.png">

</head>
<body>
    <header>
        <nav>
            <div class="navImg">
                <a href="#sobreNos"><img src="/img/logoHeader.png" alt="Logo Prodsafe" width="230rem"></a>
            </div>

            <div class="navLinks">
                <a href="/">Sobre nós</a>
                <a href="/#solucoes">Soluções</a>
                <a href="/#tecnologia">Tecnologia</a>
                <a href="/#beneficio">Benefícios</a>
                <a href="/login">Login <i class="fa-regular fa-circle-user"></i></a>
                <a href="/cadastro">Cadastrar <i class="fa-regular fa-circle-user"></i> </a>
            </div>
        </nav>
    </header>
    <main>
    <section id="sobreNos" class="hero">
        <div class="heroText">
            <h1>Aumentando a Segurança<br>e a Eficiência na Fabricação</h1>
            <p>Soluções inteligentes para monitoramento<br>
            em tempo real de máquinas e prevenção de falhas.
            </p>
        </div>

        <div class="heroImg">
            <img src="/img/imgHero.png" alt="Trabalhador em fábrica">
        </div>
    </section>

    <section id="solucoes">

        <h1 class="hpS">Nossas Soluções</h1>
        <p class="hpS">Oferecemos software e sensores inteligentes alimentados por inteligência artificial para aumentar a segurança e a produtividade <br>
            das operações industriais.</p>

        <div class="cardSection"> 
            <div class="cardSolucao"> 
                <img class="cardIcon" src="img/imgIconSolucao1.png" alt="IconeCard"> 
                <h2>Monitoramento em tempo real</h2> 
                <p>Acompanhe o status e o desempenho das máquinas.</p> 
                <img class="cardImg" src="img/imgCardSolucao1.png" alt=" " > 
            </div> 

            <div class="cardSolucao"> 
                <img class="cardIcon" src="img/imgIconSolucao2.png" alt="IconeCard"> 
                <h2>Prevenção de falhas</h2> 
                <p>Evite acidentes com detecção antecipada baseada em IA.</p> 
                <img class="cardImg" src="img/imgCardSolucao2.png" alt="" > 
            </div> 

            <div class="cardSolucao"> 
                <img class="cardIcon" src="img/imgIconSolucao3.png" alt="IconeCard"> 
                <h2>Gestão de Riscos</h2> 
                <p>Reduza riscos industriais com análises avançadas.</p> 
                <img class="cardImg" src="img/imgCardSolucao3.png" alt="" > 
            </div> 
        </div>
    </section>

    <section id="tecnologia">
        <div class="divTecEsq">
        <h1>Inteligencia Artificial a serviço da segurança industrial</h1>
        <h2>Nossa tecnologia de IA detecta antecipadamente falhas e riscos antes que causem inatividade ou acidentes, garantindo um ambiente de manufatura mais seguro e efíciente.</h2>
        </div>
        
        <div class="divTecDir"> <img src="img/imgTec.png" alt=""> </div>
    </section>

    <section id="beneficio">

        <h1 class="hpB">Quais são os nossos benefícios?</h1>

        <div class="cardsBene">
        <div class="cardBeneficio">
            <img src="img/imgEscolha1.png" alt="">
            <h2 class="h2Escolha">Confiabilidade</h2>
            <p>Soluções confiáveis desenvolvidas para robustez industrial.</p>
        </div>

        <div class="cardBeneficio">
            <img src="img/imgEscolha2.png" alt="">
            <h2 class="h2Escolha">Redução de Custos</h2>
            <p>Menores despesas de manutenção e tempo de inatividade.</p>
        </div>

        <div class="cardBeneficio">
            <img src="img/imgEscolha3.png" alt="">
            <h2 class="h2Escolha">Produtividade Maior</h2>
            <p>Maximize a produção com monitoramento <br>
                inteligente.</p>
        </div>
        </div>
        <div class="divExper">
        <h2>Experimente nossa tecnologia</h2>
        <button class="btnBeneficio"><a href="/dashboard" style="text-decoration: none; color: white;">Comece agora</a></button>
        </div>
    </section>

    <section id="equipe">
        <h1>Conheça nossa equipe</h1>

        <div class="divEquipe">
            <div class="cardEquipe">
                <img class="imgEquipe" src="/img/Enzo.png">
                <h2 class="pEquipe">Enzo Barbeito <br>
                    Silva</h2>
            </div>

            <div class="cardEquipe">
                <img class="imgEquipe" src="/img/Alvaro.png">
                <h2 class="pEquipe">Alvaro Costa <br>
                    Teme</h2>
            </div>

            <div class="cardEquipe">
                <img class="imgEquipe" src="/img/Gustavo.jpeg">
                <h2 class="pEquipe">Gustavo Bassoto <br>
                    Figueiredo</h2>
            </div>

            <div class="cardEquipe">
                <img class="imgEquipe" src="/img/Baraldi.png">
                <h2 class="pEquipe">Lucas Baraldi <br>
                    Citrangulo</h2>
            </div>

            <div class="cardEquipe">
                <img class="imgEquipe" src="/img/Diego.png">
                <h2 class="pEquipe">Diego Oliveira <br>
                    Camargo</h2>
            </div>
            
        </div>
    </section>

    </main>
    <footer>
        <div class="FooterEsq">
            <img class="imgHeader" src="img/imgFooter.png" alt="">
            <dt>
             <dd>Email: prodsafecontato@gmail.com</dd>
             <dd>Telefone: (11) 55543-1994 </dd>
             <dd>Avenida das Nações Unidas, 3.003</dd>
             <dd>Osasco, São Paulo</dd>
            </dt>
        </div>

        <div class="FooterDir">
            <h2>Redes sociais</h2>
            <dt>
             <dd class="ddI"><a href="http://"><i class="fa-brands fa-square-facebook"></i>Facebook</a></dd>
             <dd class="ddI"><a href="http://"><i class="fa-brands fa-linkedin"></i>Linkedin</a></dd>
             <dd class="ddI"><a href="http://"><i class="fa-brands fa-square-whatsapp"></i>Whataapp</a></dd>
            </dt>
        </div>
    </footer>

</body>
</html>